body {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 92px 50px 92px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    white-space: nowrap;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 136px;
    margin-left: 45px;
}

.header__logo-image {
    width: 100%;
}

address {
    font-size: 18px;
}

.header__address {
    display: flex;
    flex-direction: column;
    font-style: inherit;
    margin-left: 65px;
    margin-top: 7px;
}

.adress__item {
    display: block;
    font-size: 18px;
    line-height: 25px;
    text-underline-position: under;
}

.adress__text {
    font-size: 18px;
    line-height: 26px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 183px;
}

section {
    margin: 50px 0;
}

.cover {
    position: relative;
    padding-bottom: 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-weight: bold;
    font-size: 100px;
    line-height: 1.17;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    text-align: start;
    padding-left: 50px;
    padding-top: 165px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    line-height: 1;
    text-align: center;
    padding-left: 0;
    padding-top: 0px;
}

.aligned-text_right {
    line-height: 1;
    text-align: right;
    padding-left: 0;
    padding-top: 0px;
    padding-right: 50px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 79px;
    margin: 135px 42px 0;
}

.cover__description-text {
    padding-left: 39px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    border: 1px white solid;
    padding: 13px 32px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    padding: 0;
}

.lots__heading {
    padding: 0 0 30px 62px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 24px;
    list-style: none;
}

.lots__card-list-item {
    height: 100%;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 334px;
    height: 563px;
    padding: 40px 40px;
    text-decoration: none;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    position: relative;
    padding-top: 9px;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    padding-bottom: 6px;
    z-index: 1;
    color: white;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    display: block;
    margin: 31px 0 0 63px;
    font-size: 20px;
    text-decoration-line: underline;
    text-underline-position: under;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 16px;
    padding: 0 16px;
}

.about__column {
    justify-self: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    width: 150px;
}

.about__title {
    padding: 100px 0 100px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 180px 50px 80px;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: inherit;
    line-height: 1.36;
}

.footer__menu-list {
    text-align: center;
    list-style: none;
}

.footer__menu-link {
    font-size: 18px;
    line-height: normal;
    text-underline-position: under;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: auto;
    height: 48px;
}
